@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@plugin 'tailwindcss-animate';

@theme {
  --spacing-page: 1436px;
  --color-brand: hsl(26, 73%, 51%);
  --color-brand-foreground: white;
  --color-brand-secondary: #c6bb58;
  --color-brand-secondary-foreground: #97890c;
  --color-brand-200: hsl(33, 100%, 50%);
  --overview-color: hsl(26, 73%, 51%);
  --getting-started-color: hsl(42, 66%, 46%);
  --security-color: hsl(8, 68%, 52%);
  --automation-color: hsl(153, 48%, 40%);
  --cli-color: hsl(218, 59%, 52%);
  --protocol-color: hsl(273, 50%, 52%);

  --color-landing-foreground: #59592a;
  --color-landing-foreground-200: #a8a866;
}

.dark {
  --color-landing-foreground: #e4e2d0;
  --color-landing-foreground-200: #b7af7e;
  --color-brand: #fff383;
  --color-brand-secondary: #fc7744;
  --color-brand-secondary-foreground: #521700;
  --color-brand-foreground: black;
  --color-brand-200: #fff7c8;
  --overview-color: #fff383;
  --getting-started-color: #f1d66b;
  --security-color: #ff9575;
  --automation-color: #8fe0bd;
  --cli-color: #96b8ff;
  --protocol-color: #cfb2ff;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

body {
  background-color: var(--color-fd-background);
}
